<div class=" container row">
  <div class="col s12 m6">
    <div class="card  darken-1">
      <div class="card-content ">
         <app-elements [widgets]="items" (deleteWidget)="deleteElement($event)" (updateWidget)="loadUpdate($event)"></app-elements>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card darken-1">
      <div class="card-content ">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Enter Blog Title" [(ngModel)]="name" name="name" type="text" class="validate">
              </div>
              <div class="input-field col s12">
                <input [(ngModel)]="desc" type="text" name="desc" placeholder="Enter Blog Description">
              </div>
              <div class = "input-feild col s12">
                <input list="categoy" name="category" placeholder="Enter Blog Catrgory" [(ngModel)] = "category">
                <datalist id="categoy">
                  <option value="Sports">
                  <option value="Religion">
                  <option value="Business">
                  <option value="Technology">
                  <option value="Others">s
                </datalist>
              </div>
            </div>
          </form>
          <a class="center waves-effect waves-light btn" (click)="addElement(name, desc, category)">{{buttonName}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

