
<nav>
  <div class="nav-wrapper">

    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a [routerLink]= link.allBlogs>All Blogs</a></li>
      <li><a [routerLink]= link.favouriteBlogs>My Favourites</a></li>
      <li><a [routerLink]= link.myBlogs>My Blogs</a></li>
      <li><a [routerLink]= link.sports>Sports</a></li>
      <li><a [routerLink]= link.religion>Religion</a></li>
      <li><a [routerLink]= link.business>Business</a></li>
      <li><a [routerLink]= link.technology>Technology</a></li>
      <li><a [routerLink]= link.others>Others</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
